<form>

              <br>
              <h2>Register</h2>
              <br>

        username:<input type="text" ng-model="registerform.username" name="username"/><br><br/>
        password:<input type="text" ng-model="registerform.password"name="password"/><br><br/>
        Firstname :<input type="text"  ng-model="registerform.firstname"name="Firstname"/><br><br/>
    
        Lastname :<input type="text"  ng-model="registerform.lastname"name="Lastname"/><br><br/>
        
        Email :<input type="text"  ng-model="registerform.email"name="Email"/><br><br/>
        
        Phone :<input type="text"  ng-model="registerform.phone"name="Phone"/><br><br/>
        
        Location :<input type="text"  ng-model="registerform.location"name="Location"/><br><br/>
        
    <button type="button" ng-click="register()">Register</button>
    </form>




     